click==6.7
ecdsa==0.13
Flask==0.12.2
Flask-MySQLdb==0.2.0
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mysql-connector-python
mysql-utilities
mysqlclient
paramiko==1.16.0
passlib==1.7.1
pexpect==4.0.1
ptyprocess==0.5
pycrypto==2.6.1
pyodbc==3.0.7
pysqlite==2.7.0
six==1.10.0
unity-lens-photos==1.0
uuid==1.30
Werkzeug==0.14.1
WTForms==2.1
